<div class="celes-item confirm">
	<img src="/users/placeholder2.jpg" width="100" height ="100">
	<div class="text-celes pull-left">
		<p><%= link_to "Maria Gonz치lez", "user-profile" %></p>
		<p>29 a침os - 168 cm</p>
		<p>Barcelona</p>
		<p>Relaci칩n contigo: Herman@</p>
		<p>Atributos sobre ti: buena persona, simp치tico y generoso.</p>
	</div>
	<div class="confirm-controls">
		Confirmado: 5/10/2012<a href="#"><i class="icon-remove"></i></a></br>Enviado: 3/10/2012
	</div>
</div>