<div id="notifications">
  <article class="notification">
    <header>
      <h1>En este momento</h1>
      <a href="#">Cerrar</a>
    </header>
    <div class="container">
      <a href="/user/user-profile"><img src="/users/placeholder2.jpg" width="80" height="80"></a>
      <span class="status">¡Hacéis buena pareja!</span>
      <strong><%= link_to 'Maria Teresa', '/user/user-profile' %></strong><span>Santa Coloma de...</span><br>24 años
    </div>
  </article>

  <article class="notification">
    <header>
      <h1>En este momento</h1>
      <a href="#">Cerrar</a>
    </header>
    <div class="container">
      <a href="/user/user-profile"><img src="/users/placeholder2.jpg" width="80" height="80"></a>
      <span class="status">¡Hacéis buena pareja!</span>
      <strong><%= link_to 'Maria Teresa', '/user/user-profile' %></strong><span>Santa Coloma de...</span><br>24 años
    </div>
  </article>
  
</div>