<%
	
	@page = 'profile-celestino';

%>

<section class="celestinos boxed">
	<div class="boxed-inner">
		<header>
			<h1>Hola Celestin@ | <span>Realizar recomendación</span></h1>
		</header>

		<div class="box-title">Quieres recomendar a una usuari@ registrad@<br> o alguien que no es usuari@?</div>
		<div class="celes-box">
			<ul>
				<li class="red-heart">
					Ex pareja
				</li>
		
				<li class="violet-heart">
					Amigo especial
				</li>
		
				<li class="green-heart">
					Amigo
				</li>
		
				<li class="yellow-heart">
					Familiar
				</li>
			</ul>
			<div class="btns">
				<button class="btn btn-medium btn-info" type="button">Recomendar usuari@ registrad@</button>
				<button class="btn btn-medium btn-info" type="button">Recomendar usuari@ nuev@</button>
			</div>
		</div>

		<div class="your-celestines">
			<h4 style="text-align:center">Personas a las que haces de Celestin@</h4>
			<%= @can_delete_celestino.present? %>
			<% 3.times do %>
				<%= render '/shared/user/celes-item' %>
			<% end %>
		</div>
		<hr class="thin">
	</div>

</section>
