/* common */

.hidden {
  display: none;
}

li{
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a {
  outline: 0 !important;
}

.btn-celestino-user {
  text-transform: uppercase;
  margin-left: 100px;
  margin-top: 35px;
}

.overflow-show {
  overflow: visible !important;
}

.nopadding {
    padding: 0 !important;
}

.width100 {
  width: 100% !important;
}
.width96 {
  width: 96% !important;
}

.width95 {
  width: 95% !important;
}
