/* common */

.hidden {
  display: none;
}

li{
  list-style: none;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

a {
  outline: 0 !important;
}

.btn-celestino-user {
  text-transform: uppercase;
  margin-left: 100px;
  margin-top: 35px;
}

.overflow-show {
  overflow: visible !important;
}

.nopadding {
    padding: 0 !important;
}

.width100 {
  width: 100% !important;
}
.width99 {
  width: 99% !important;
}
.width98 {
  width: 98% !important;
}
.width97 {
  width: 97% !important;
}
.width96 {
  width: 96% !important;
}
.width95 {
  width: 95% !important;
}
.width50 {
  width: 50% !important;
}
.width45 {
  width: 45% !important;
}
.width40 {
  width: 40% !important;
}
.floatleft {
  float:left;
}

section[role="main"] {
  header {
    margin:0 !important;
    padding:0 !important;
    h1.section_title {
      padding:14px 0;
      vertical-align: middle;
      background:#5caae8;
      /* IE10 Consumer Preview */ 
      background-image: -ms-radial-gradient(center, ellipse farthest-corner, #5CAAE8 0%, #58A3DE 100%);

      /* Mozilla Firefox */ 
      background-image: -moz-radial-gradient(center, ellipse farthest-corner, #5CAAE8 0%, #58A3DE 100%);

      /* Opera */ 
      background-image: -o-radial-gradient(center, ellipse farthest-corner, #5CAAE8 0%, #58A3DE 100%);

      /* Webkit (Safari/Chrome 10) */ 
      background-image: -webkit-gradient(radial, center center, 0, center center, 447, color-stop(0, #5CAAE8), color-stop(1, #58A3DE));

      /* Webkit (Chrome 11+) */ 
      background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #5CAAE8 0%, #58A3DE 100%);

      /* W3C Markup, IE10 Release Preview */ 
      background-image: radial-gradient(ellipse farthest-corner at center, #5CAAE8 0%, #58A3DE 100%);
      color:#fff !important;
      margin:0 !important;
      width:100%;
    }
  }
}
