#notifications {
  width:250px;
  position:fixed;
  bottom:0;
  right:0;
  z-index:999;

  .notification {
    background:#fff;
    width:100%;
    margin-top:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    box-shadow:0px 0px 4px rgba(0,0,0,.5);

    header {
      @include clearfix;
      background:#5caae8;
      padding:5px;

      h1 {
        margin:0 0 0 5px;
        padding:0;
        color:#fff;
        font-size:1em;
        font-weight:bold;
        line-height:1em;
        float:left;
      }

      a {
        background:url(/assets/sprite.png) -323px -110px no-repeat;
        width:13px;
        height:14px;
        display:block;
        float:right;
        text-indent:-999em;
        overflow:hidden;
      }
    }

    .container {
      font-size:1em;
      img {
        float:left;
        border-radius:3px;
        margin:5px;
        margin-right:10px;
        display:block;
      }

      strong {
        display:block;
        margin-top:5px;
      }

      span {
        font-size:1em;
      }


      .status {
        display:block;
        margin-top:5px;
        color:#fe6600;
        font-size:1em;
      }
    }

  }

}
