<div id="in-love">
	<div class="container">
		<h2>Se han enamorado en Cellove</h2>
		<div class="row">
			<article class="span3">
				<header>
					<h1><%= link_to '<i></i><span>Carlos & Maite</span>'.html_safe, '#' %></h1>
				</header>
				<img src="http://lorempixel.com/80/80/people">
				<p>Ut eu leo sed arcu gravida aliquet eu hendrerit magna. Phasellus fringilla fringilla justo, vel volutpat urna auctor nec. Pellentesque lectus mi, fringilla nec scelerisque et, imperdiet id nunc.</p>
			</article>
			<article class="span3">
				<header>
					<h1><%= link_to '<i></i>Anna & Joan'.html_safe, '#' %></h1>
				</header>
				<img src="http://lorempixel.com/80/80/people">
				<p>Ut eu leo sed arcu gravida aliquet eu hendrerit magna. Phasellus fringilla fringilla justo, vel volutpat urna auctor nec. Pellentesque lectus mi, fringilla nec scelerisque et, imperdiet id nunc.</p>
			</article>

			<article class="span3">
				<header>
					<h1><%= link_to '<i></i>Fran & Irene'.html_safe, '#' %></h1>
				</header>
				<img src="http://lorempixel.com/80/80/people">
				<p>Ut eu leo sed arcu gravida aliquet eu hendrerit magna. Phasellus fringilla fringilla justo, vel volutpat urna auctor nec. Pellentesque lectus mi, fringilla nec scelerisque et, imperdiet id nunc.</p>
			</article>

			<article class="span3">
				<header>
					<h1><%= link_to '<i></i>Esther & Victor'.html_safe, '#' %></h1>
				</header>
				<img src="http://lorempixel.com/80/80/people">
				<p>Ut eu leo sed arcu gravida aliquet eu hendrerit magna. Phasellus fringilla fringilla justo, vel volutpat urna auctor nec. Pellentesque lectus mi, fringilla nec scelerisque et, imperdiet id nunc.</p>
			</article>
		</div>
	</div>
</div>