<div id="login-box">
	<h4>Acceso usuarios</h4>
	<small><a href="#">¿Has olvidado tu contraseña?</a> - <%= link_to 'Regístrate gratis', '/public/alta-usuario' %></small>
	<fieldset>
		<form action="/login" method="post">
			<input type="text" placeholder="email">
			<input type="password" placeholder="password">
			<input type="submit" value="Entrar">
		</form>
	</fieldset>
</div>