<div class="clearfix proposal">
	<div class="pull-left">
		<b>Propuesta de actividad:</b> Comer o tomar algo el próximo 15 de febrero de 2013
	</div>
	<div class="pull-right"><%= link_to "Aceptar", "#proposal-accept", 'data-toggle' => 'modal' %> - <%= link_to "Rechazar", "#proposal-reject", 'data-toggle' => 'modal' %></div>
</div>
