<section id="related-list">
  <div class="boxed">
    <div class="boxed-inner">
      <h4>Afines cerca de ti...</h4>
      <ul class="clearfix">
        <% current_user.best_suited_near_me(6).each do |user| %>
          <li class="<%= online?(user) ? "online" : "" %>">
            <%= link_to user, "data-toggle" => 'tooltip', title: "<strong>#{user.name}</strong><br>#{user.town}<br>#{user.age} años" do %>
              <%= profile_pic(user, width: 80, height: 80) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>

<hr class="thin">
