  <div class="boxed">
    <div class="boxed-inner">
      <header>
        <h1 class="pull-left section_title"><%= _('Necesitas tener al menos una foto en tu perfil') %></h1>
        <div class="clearfix"></div>
      </header>
      <%= render partial: 'profiles/pictures', locals: {user: @user} %>
    </div>
  </div>

  <%#= javascript_include_tag "picture_upload" %>
  <script>

  $(function () {

    // function showModalAndCrop(event, data) {
    //   var cropData;
    //   var modalObject;
    //   $("#picture_gallery").css('z-index', '1000');
    //   $("#crop_modal_wrapper").html(data.result.crop_template);
    //   modalObject = $("#crop_modal_wrapper #crop_modal");
    //   modalObject.css('z-index', '1500').modal({show: true});
    //   $("#picture_to_crop").Jcrop({
    //     onSelect: function (c) {
    //       cropData = c;
    //     }
    //   });
    //   $("#crop_modal .btn").click(function(e) {
    //     //e.preventDefault();
    //     $.post(data.result.update_path, {_method: "PUT", crop_data: cropData}, function (data) {
    //       modalObject.modal("hide");
    //       $("#picture_gallery").css('z-index', '1101');
    //       $("#picture_gallery").html(data.template);
    //       bindUploads(); //rebind uploads
    //     });
    //   });
    // }

    function bindUploads() {
      $(".upload_pic_input, .upload_pic_input_unregistered").fileupload({
        dataType: 'json',
        url: '/pictures',
        formData: [{
          name: 'authenticity_token',
          value: $('meta[name="csrf-token"]').attr('content')
        }, {name: 'main', value: $('#picture_main').val()}],
        acceptFileTypes: /(\.|\/)(bmp|gif|jpe?g|png)$/i,
        done: function(event, data) {
          //showModalAndCrop(event, data);
          $('#progress_modal').modal('hide');
          $.post(data.result.update_path, {_method: "PUT"}, function (data) {
            $("#picture_gallery").html(data.template);
            bindUploads(); //rebind uploads
          });
        },
        progress: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $('#progress_modal .progress .bar').css('width', progress + '%').css('z-index', '1500');
        },
        start: function() {
          $('#progress_modal').modal('show');
        },
        error: function() {
          $('#progress_modal').modal('hide');
          alert('Lo sentimos, sólo se pueden subir imágenes en JPG, JPEG o PNG');
        }

      });
   }

    bindUploads();

  });

  $('#fancybox-close').click(function(e) {
    location.reload();
    e.preventDefault();
    e.stopPropagation();
    return false;
  });
  </script>
