<section id="pay" class="boxed">
  <div class="boxed-inner">
  <header>
    <h1>Modalidades de uso</h1>
  </header>

  <article>
      <h2>Elige entre uno de nuestros planes:</h2>
      <p>Contrata una de nuestras tres modalidades de uso en Cellove para sacarle el máximo partido de todas las herramientas, facilidades que te ofrecemos. Elije la modalidad que mejor se adapte a tus necesidades y disfruta de Cellove sin limitaciones ni restricciones de ningún tipo.</p>
      
      <form>
        <fieldset class="clearfix">
            <div class="payment">
              <h3>8€/mes</h3>
              <ul>
                <li>Ilimitados mensajes privados</li>
                <li>Ilimitados chats simultáneo</li>
                <li>Capacidad ilimitada</li>
                <li>Demás recursos ilimitados</li>
                <li>Navegación ilimitada</li>
                <li>Opc. de privacidad avanzadas</li>
                <li>Navegación oculta</li>
              </ul>
              <div class="call">
                <button class="btn btn-info">Contratar por 96€/año</button>
              </div>
            </div>
        </fieldset>
      </form>

      <p>Las tres modalidades de uso estarán vigentes durante un año a partir del día de contratación, en el caso que no hayas consumido los recursos ofrecidos en cada modalidad. Si consumes los recursos de la modalidad que contrates, podrás volver a contratar una nueva modalidad de uso al instante.</p>

    <div class="center">
      <%= image_tag "payments.png" %>
      <br>&nbsp;
    </div>

  </article>

</div>

</section>
