<section id="user-sidebar">
  <div class="profile_pic_wrapper">
    <div class="profile_pic_overlay">
      <button class="btn btn-info" type="submit">
        <i class="icon-wrench icon-white"></i>
        Cambia tu foto de perfil
      </button>
    </div>
    <div class="profile_pic">
      <%= profile_pic(current_user) %>
    </div>
  </div>
	<header>
    <h1><%= current_user.full_name %></h1>
	</header>
  <% if !current_user.has_role?(:matchmaker) %>
  	<ul>
  		<li>
        <a href="/user/cellove-index">Índice Cellove (35/100)
          <div class="progress">
            <div class="bar" style="width:35%"></div>
          </div>
        </a>
      </li>
  		<li class="profile">
        <a href="/user/profile">
          Tu perfil (63% completo)
          <div class="progress">
            <div class="bar" style="width:63%"></div>
          </div>
        </a>
      </li>
  		<li><%= link_to 'Te gustan (269)', '/user/likes-of-mine' %></li>
  	</ul>
  <% end %>
</section>
