<section>
  <header>
    <h1>Celestin@s</h1>
  </header>
  <ul>
    <li><%= link_to ('Mis celestin@s <em>(' + current_user.confirmed_recommenders.count.to_s + ')</em>').html_safe, my_matchmakers_path %></li>
    <li><%= link_to 'Quiero ser celestin@', be_matchmaker_path %></li>
    <li class="highlight"><%= link_to '¡Mejora tu Índice Cellove!', '/user/celestinos-of-mine#tab_mejora' %></li>
  </ul>
</section>
