
<section id="ads">
	<header>
		Publicidad
		<span><a href="">Crear anuncio</a></span>
	</header>
	
	<div id="ad">
		<div class="title">Noche de hotel 29€</div>
		<img src="/assets/sample-ad.jpg">
		<div class="txt">¡La mejor Ruleta social del mundo! Pruébalo ahora y haz millones mientras juegas</div>
		<div class="clearfix"></div>
	</div>
	<hr>
	<div id="ad">
		<div class="title">Noche de hotel 29€</div>
		<img src="/assets/sample-ad.jpg">
		<div class="txt">¡La mejor Ruleta social del mundo! Pruébalo ahora y haz millones mientras juegas</div>
		<div class="clearfix"></div>
	</div>
</section>
<hr>
