<% if current_user.searches.any? && current_user.searches.length > 0 %>
  <hr>
  <section>
    <header>
      <h1><%= _('Tus búsquedas') %></h1>
    </header>
    <ul>
      <% current_user.searches.each do |search| %>
        <li><%= link_to search.name, search.search_path %><%= link_to '<i class="icon">x</i>'.html_safe, "/searches/#{search.id}", method: :delete, class: 'delete-search', confirm: _('¿Estás seguro de que deseas eliminar esta búsqueda?') %></li>
      <% end %>
    </ul>
  </section>
<% end %>
