<section class="celestinos boxed">
	<div class="boxed-inner">
		<h4>Celestin@ | <span>Realizar una recomendación</span></h4>
		<div class="clearfix"></div>
		<hr>

		<%= render '/shared/user/celes-item' %>

		

	</div>

</section>