<section class="celestinos">
	<article class="boxed">
		<div class="boxed-inner" style="display:block;">
			<h4>Mis Celestin@s: <span>Puntuación actual: 12 puntos (2 Celestin@s)</span></h4>
			<hr>
			<p class="text-center"><span>Celestin@s</span> son personas que te conocen y te recomiendan mediante</br> 
				un registro gratuito, y esto te da puntuación, más visibilidad</br>
			 	y mayor acceso a usuari@s afines a ti :)
			</p>

			<div class="celes-box">
				<ul>
					<li class="red-heart">
						Ex pareja
						<div class="small-box">
							10 puntos </br><span>por usuari@ recomendado</span>
						</div>
					</li>

					<li class="red-violet">
						Amigo especial
						<div class="small-box">
							8 puntos </br><span>por usuari@ recomendado</span>
						</div>
					</li>

					<li class="red-green">
						Amigo
						<div class="small-box">
							6 puntos </br><span>por usuari@ recomendado</span>
						</div>
					</li>

					<li class="red-yellow">
						Familiar
						<div class="small-box">
							5 puntos </br><span>por usuari@ recomendado</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</article>

	<div class="text">
		<p>Cuantos más <span>Celestin@os</span> tengas, más <span>Popularidad</span> tendrás.</p>
		<p>Cuanta más <span>Popularidad</span> tengas, más visible y accesible serás!</p>
	</div>

	<article class="subscribe boxed">
		<div class="boxed-inner clearfix">
			<div class="white-box">
				<h4>Quieres ganar 3 puntos?</h4>
				<p>Recomiéndanos un nuevo usuari@ y te regalamos 3 puntos. Así de fácil.</p>
				<form class="form-inline">
					<input type="text" class="input-medium" placeholder="Email">
					<button type="submit" class="btn">OK</button>
				</form>
			</div>

			<div class="white-box">
				<h4>Quieres proponer un Celestin@?</h4>
				<p>Propón un nuevo celesti@ para que te recomiende y gaes más puntos.</p>
				<form class="form-inline">
					<input type="text" class="input-medium" placeholder="Email">
					<button type="submit" class="btn">OK</button>
				</form>
			</div>
		</div>
	</article>

	<article class="celes-list boxed">
		<div class="boxed-inner">
			<h4>Celestin@s pendientes de confirmar: <span>2 nuevos</span></h4>
			<hr>
	
			<% 2.times do %>
				<div class="celes-item confirm">
					<img src="/users/placeholder2.jpg" width="100" height ="100">
					<div class="text-celes pull-left">
						<p><%= link_to "Maria González", "user-profile" %></p>
						<p>29 años - 168 cm</p>
						<p>Barcelona</p>
						<p>Relación contigo: Herman@</p>
						<p>Atributos sobre ti: buena persona, simpático y generoso.</p>
					</div>
					<div class="confirm-controls">Enviado: 5/10/2012 <a href="#"><i class="icon-ok"></i></a><a href="#"><i class="icon-remove"></i></a></div>
				</div>
			<% end %>
			<hr>
			<%= render '/shared/user/pagination' %>
		</div>
	</article>

	<article class="celes-list boxed">
		<div class="boxed-inner">
			<h4>Celestin@s actuales: <span>2 nuevos</span></h4>
			<hr>
	
			<% 2.times do %>
				<div class="celes-item confirm">
					<img src="/users/placeholder2.jpg" width="100" height ="100">
					<div class="text-celes pull-left">
						<p><%= link_to "Maria González", "user-profile" %></p>
						<p>29 años - 168 cm</p>
						<p>Barcelona</p>
						<p>Relación contigo: Herman@</p>
						<p>Atributos sobre ti: buena persona, simpático y generoso.</p>
					</div>
					<div class="confirm-controls">
						Confirmado: 5/10/2012<a href="#"><i class="icon-remove"></i></a></br>Enviado: 3/10/2012
					</div>
				</div>
			<% end %>
			<hr>
			<%= render '/shared/user/pagination' %>
		</div>
	</article>

</section>











