<section class="messages boxed">
	<div class="boxed-inner">
		<header>
			<h1>Mensajes y actividades</h1>
			<p>Estas usando el 35% de tu buzón. <%= link_to "Amplia", "" %> la capacidad!</p>
			<div class="clearfix"></div>
		</header>
		
		<div class="">
		<ul class="nav nav-tabs" id="myTab">
  		<li class="active"><a href="#recibidos">Recibidos (2)</a></li>
		  <li><a href="#enviados">Enviados</a></li>
		  <li><a href="#eliminados">Eliminados</a></li>
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active" id="recibidos">
		  	<% 2.times.each do %>
		  		<%= render '/shared/user/msg-item-proposal' %>
		  	<% end %>
		  	<% 4.times.each do %>
		  		<%= render '/shared/user/msg-item' %>
		  	<% end %>

		  </div>
		  <div class="tab-pane" id="enviados">...</div>
		  <div class="tab-pane" id="eliminados">...</div>
		</div>
		</div>

	</div>
</section>

<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
  	e.preventDefault();
  	$(this).tab('show');
	})
</script>
