<section class="list">
	<header>
		<h1>Hacemos buena pareja</h1>
		<%= render '/shared/user/sorting' %>
	</header>
	<ul class="user-list clearfix">
		<% (1..20).each do %>
		  <li><%= render '/shared/user/user-card' %></li>
		<% end %>
	</ul>

	<%= render '/shared/user/pagination' %>

</section>