<section id="pay" class="boxed">
	<div class="boxed-inner">
	<header>
		<h1>¡Cambia de plan!</h1>
	</header>

	<article>
			<h2>Elige entre uno de nuestros planes:</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ipsum a velit varius congue. Aenean ultrices, leo non sagittis commodo, est tortor lacinia elit, lobortis commodo purus felis ac odio. Aliquam mollis commodo est, at viverra augue congue id. Donec lectus velit, condimentum eget tempor eget, tempus id nibh.</p>
			
			<form>
				<fieldset class="clearfix">
						<div class="payment plan1">
              <h3>1€/mes</h3>
              <ul>
                <li>100 mensajes privados</li>
                <li>1 chat simultáneo</li>
                <li>Capacidad ilimitada</li>
                <li>Demás recursos ilimitados</li>
                <li>Navegación ilimitada</li>
                <li>&nbsp;</li>
              </ul>
              <div class="call">
                <button class="btn btn-info">Contratar por 12€/año</button>
              </div>
            </div>

            <div class="payment plan2">
              <h3>3€/mes</h3>
              <ul>
                <li>300 mensajes privados</li>
                <li>3 chat simultáneo</li>
                <li>Capacidad ilimitada</li>
                <li>Demás recursos ilimitados</li>
                <li>Navegación ilimitada</li>
              </ul>
              <div class="call">
                <button class="btn btn-success">Contratar por 36€/año</button>
              </div>
            </div>

            <div class="payment plan3">
              <h3>6€/mes</h3>
              <ul>
                <li>Ilimitados mensajes privados</li>
                <li>Ilimitados chats simultáneo</li>
                <li>Capacidad ilimitada</li>
                <li>Demás recursos ilimitados</li>
                <li>Navegación ilimitada</li>
                <li>Opc. de privacidad avanzadas</li>
              </ul>
              <div class="call">
                <button class="btn btn-info">Contratar por 72€/año</button>
              </div>
            </div>
				</fieldset>
			</form>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ipsum a velit varius congue. Aenean ultrices, leo non sagittis commodo, est tortor lacinia elit, lobortis commodo purus felis ac odio. Aliquam mollis commodo est, at viverra augue congue id. Donec lectus velit, condimentum eget tempor eget, tempus id nibh.</p>

		<div class="center">
			<img src="/images/payments.png">
			<br>&nbsp;
		</div>

	</article>

</div>

</section>