<section class="profile">
	<header class="row">
		<h1 class="span3">Popularidad</h1>
		<div class="span4">
			Popularidad: 12 puntos <%= link_to "consigue más", "celestinos-of-mine" %>!
		</div>
		<div class="pull-right">Perfil 35% completado</div>
	</header>

	<article>
		<h3>Datos de acceso a Cellove</h3>
		<form class="form-horizontal">
				<div class="row">
					<div class="span4 left">
						<div class="control-group">
							<label class="control-label">Email</label>
							<div class="controls">
								<input type="text">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Confirmar Email</span></label>
							<div class="controls">
								<input type="text">
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="control-group">
							<label class="control-label">Contraseña</label>
							<div class="controls">
								<input type="password">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Confirmar contraseña</span></label>
							<div class="controls">
								<input type="password">
							</div>
						</div>
					</div>
				</div>
			<form>
	</article>

	<article class="quien">
		<h3>¿Quien eres?</h3>
		<form class="form-inline">
			Me llamo
		  <input type="text" class="input-small" placeholder="Nombre">
		  <input type="text" class="input-small" placeholder="Apellido">
		  pero quiero que mi nombre para mostrar* sea
		  <input type="text" class="input-small" placeholder="Nickname">
		</form>
		<p><em>* Cellove recomienda utilizar tu nombre real para tener más posibilidades de contactos y Celestin@os. Deja este campo vacío para usar tu nombre real.</em></p>
	</article>

	<article>
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#home">Home</a></li>
		  <li><a href="#profile">Profile</a></li>
		  <li><a href="#messages">Messages</a></li>
		  <li><a href="#settings">Settings</a></li>
		</ul>
		 
		<div class="tab-content">
		  <div class="tab-pane active" id="home">...</div>
		  <div class="tab-pane" id="profile">...</div>
		  <div class="tab-pane" id="messages">...</div>
		  <div class="tab-pane" id="settings">...</div>
		</div>
		 
		
	</article>


</section>