<section class="settings boxed">
	<div class="boxed-inner">
		<h4>Configuración</h4>
		<p>Desde aquí podrás configurar tus parámetros en Cellove</p>

		<div class="clearfix">
			<div class="col">
				<h5>Visibilidad</h5>
				<p>¿Cómo de real quieres que sea el tiempo real?</p>
				<form class="form-inline">
					<label class="span3 text-right"><b>Mostrar a los demás usuarios si estoy conectado</b></label>
					<div class="checkbox">
  					<input id="1" name="0" type="checkbox" checked="checked"/>
  					<label for="1">Check-me</label>
					</div>
					
					<label class="span3 text-right"><b>Permitir que cualquiera pueda chatear conmigo</b></label>
					<div class="checkbox">
  					<input id="2" name="2" type="checkbox"/>
  					<label for="2">Check-me</label>
					</div>

					<label class="span3 text-right">Sólo usuarios de mi área (menos de 50km)</label>
					<div class="checkbox">
  					<input id="3" name="3" type="checkbox" />
  					<label for="3">Check-me</label>
					</div>

					<label class="span3 text-right">Sólo perfiles que conicidan con mis preferencias</label>
					<div class="checkbox">
  					<input id="4" name="4" type="checkbox" />
  					<label for="4">Check-me</label>
					</div>

					<label class="span3 text-right">Sólo perfiles que estén en mis favoritos</label>
					<div class="checkbox">
  					<input id="5" name="5" type="checkbox"/>
  					<label for="5">Check-me</label>
					</div>

					<label class="span3 text-right">Sólo perfiles que estén en mis favoritos y yo en los suyos</label>
					<div class="checkbox">
  					<input id="6" name="6" type="checkbox"/>
  					<label for="6">Check-me</label>
					</div>

					<label class="span3 text-right">Sólo a perfiles con los que haya mantenido una conversación previa (estén o no en favoritos)</label>
					<div class="checkbox">
  					<input id="7" name="7" type="checkbox"/>
  					<label for="7">Check-me</label>
					</div>

					<label class="span3 text-right">Sólo usuarios a los que haya valorado el perfil</label>
					<div class="checkbox">
  					<input id="8" name="8" type="checkbox"/>
  					<label for="8">Check-me</label>
					</div>
				</form>
			</div>
			
			<div class="col">
				<h5>Notificaciones por email</h5>
				<p>¿Que notificaciones quieres recibir?</p>
				<form class="form-inline">
					<label class="span3 text-right"><b>Cuando alguien visite mi perfil</b></label>
					<div class="checkbox">
  					<input id="11" name="11" type="checkbox" checked="checked"/>
  					<label for="11">Check-me</label>
					</div>
					
					<label class="span3 text-right"><b>Cuando reciba un nuevo mensaje</b></label>
					<div class="checkbox">
  					<input id="12" name="12" type="checkbox"/>
  					<label for="12">Check-me</label>
					</div>

					<label class="span3 text-right"><b>Cuando le guste a alguien </b>(votaciones de 4 ó 5 estrellas)</label>
					<div class="checkbox">
  					<input id="13" name="13" type="checkbox" />
  					<label for="13">Check-me</label>
					</div>

					<label class="span3 text-right"><b>Cuando alguien me añada a sus favoritos</b></label>
					<div class="checkbox">
  					<input id="14" name="14" type="checkbox" />
  					<label for="14">Check-me</label>
					</div>

					<label class="span3 text-right"><b>Cuando un celestino me recomiende</b></label>
					<div class="checkbox">
  					<input id="15" name="15" type="checkbox"/>
  					<label for="15">Check-me</label>
					</div>

					<label class="span3 text-right"><b>Quiero recibir la newsletter</b> (noticias y novedades, quincenal)</label>
					<div class="checkbox">
  					<input id="16" name="16" type="checkbox"/>
  					<label for="16">Check-me</label>
					</div>

					<label class="span3 text-right"><b>Quiero recibir sugerencias por email</b> (perfiles afines, semanal)</label>
					<div class="checkbox">
  					<input id="17" name="17" type="checkbox"/>
  					<label for="17">Check-me</label>
					</div>

					<label class="span3 text-right"><b>Quiero recibir nuevos usuarios en mi zona</b> (semanal)</label>
					<div class="checkbox">
  					<input id="18" name="18" type="checkbox"/>
  					<label for="18">Check-me</label>
					</div>

				</form>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>

	<div class="inner">
		<div class="boxed-inner">
			
		</div>
	</div>




</section>