<% @page = "anuncio-tv" %>
<% @title = "Encuentra tu nueva pareja en Cellove" %>
<% @sidebar = true %>
<% @videos = true %>
<article>

	<header>
		<h1><%= @title %></h1>
	</header>

	<div class="article-body">
		<iframe width="665" height="315" src="http://www.youtube.com/embed/quUELBxmSOI" frameborder="0" allowfullscreen></iframe>

	</div>
</article>
