<% @page = "aviso-legal" %>
<% @title = "Aviso Legal" %>
<% @sidebar = true %>

<article>

	<header>
		<h1><%= @title %></h1>
	</header>

	<div class="article-body">
		<p>bla bla</b></p>
	</div>
</article>
