<% @page = "blog-post" %>
<% @title = "Blog Post" %>
<% @sidebar = true %>
<% @isblog = true %>

<article class="post">
	<header>
		<h1 class="category-title">¡Se conocieron en Cellove y fueron juntos al salón del manga!</h1>
		<small>22 agosto 2011</small>

		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_google_plusone"></a>
		</div>
		<!-- AddThis Button END -->
	</header>
	<img src="http://lorempixel.com/700/350/nightlife">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis sem quis odio hendrerit a rhoncus mi interdum. Maecenas a lorem ligula, vitae interdum magna. Integer et metus tortor. Vestibulum auctor venenatis libero. Proin tincidunt semper nisl sed luctus. In sed metus at erat sagittis pharetra. Fusce tellus dolor, dignissim eget tempus sit amet, posuere eget nunc.</p>

	<p>Ut eu leo sed arcu gravida aliquet eu hendrerit magna. Phasellus fringilla fringilla justo, vel volutpat urna auctor nec. Pellentesque lectus mi, fringilla nec scelerisque et, imperdiet id nunc. Mauris posuere fermentum magna a luctus. Nulla viverra nisi eget sem aliquam sit amet cursus eros varius. Donec et felis sit amet mauris sodales bibendum. Donec hendrerit urna eget nulla blandit auctor. Sed augue mi, egestas vitae gravida quis, sollicitudin et risus. Duis tristique sollicitudin vulputate. Mauris sodales varius dui, a sollicitudin ante tincidunt vel. Suspendisse sed arcu blandit nibh mattis porttitor ac aliquet metus. Praesent vel augue vel neque convallis elementum. Morbi et lorem at ligula posuere fringilla sit amet a eros. Donec arcu quam, malesuada ac sagittis ac, congue at purus. Donec dignissim magna ligula, in condimentum odio.</p>

	<footer>
		<div class="post-tags">
			<strong>Tags:</strong> <%= link_to 'incesto', '/public/blog-tag' %>, <%= link_to 'manga', '/public/blog-tag' %>, <%= link_to 'amor', '/public/blog-tag' %>
		</div>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_google_plusone"></a>
		</div>
		<!-- AddThis Button END -->
	</footer>

</article>

<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51155f1302ddbeff"></script>