<div class="celes-box">
	<ul>
		<li class="red-heart">
			Ex pareja
			<div class="small-box">
				10 puntos </br><span>por usuari@ recomendado</span>
			</div>
		</li>

		<li class="red-violet">
			Amigo especial
			<div class="small-box">
				8 puntos </br><span>por usuari@ recomendado</span>
			</div>
		</li>

		<li class="red-green">
			Amigo
			<div class="small-box">
				6 puntos </br><span>por usuari@ recomendado</span>
			</div>
		</li>

		<li class="red-yellow">
			Familiar
			<div class="small-box">
				5 puntos </br><span>por usuari@ recomendado</span>
			</div>
		</li>
	</ul>
</div>