<!-- Modal -->
<div id="user-block" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>¿Deseas bloquear a este usuario?</h3>

    <div class="user-detail clearfix">
      <div class="pic">
        <a href="/user/profile/"><img src="/users/placeholder2.jpg" width="60" height ="60"></a>
      </div>
      <div class="data"><small>8/12/2012 - 22:35h</small><%= link_to "Judit", "/user/profile/" %>, 21 años - Barcelona</div>
    </div> 

  </div>
  <div class="modal-body">
      <p>Puedes elegir una o las dos opciones. Si cambias de opinión, podrás desbloquear a ##Judit##, desde tu apartado de configuración.</p>

      <fieldset>
            <label class="checkbox inline"><input type="checkbox">No quiero verla más</label>
            <label class="checkbox inline"><input type="checkbox">No quiero que me vea más</label>
      </fieldset>
    
  </div>
  <div class="modal-footer">
    <%= link_to 'Cancelar', '#', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' %>
    <button class="btn btn-danger">BLOQUEAR</button>
  </div>
</div>
