<div id="notifications">
</div>

<script id="notificationTemplate" type="text/x-jquery-tmpl">
  <article class="notification">
    <header>
      <h1>En este momento</h1>
      <a href="#" class="notification-close" data-id="${id}">Cerrar</a>
    </header>
    <div class="container">
      <a href="/users/${user_id}"><img src="${photo}" width="80" height="80"></a>
      {{if status_link}}
        <a href="${status_link}"><span class="status">${status}</span></a>
      {{else}}
        <span class="status">${status}</span>
      {{/if}}
      <strong><a href="/users/${user_id}">${name}</a></strong><span>${city}</span><br>${age} años
    </div>
  </article>
</script>
