<article class="action-links">
	<ul class="clearfix">
		<li class="message"><%= link_to '<i></i>Enviar mensaje'.html_safe, '#fast-reply', 'data-toggle' => 'modal' %></li>
    	<li class="chat"><%= link_to '<i></i> Chatear'.html_safe, '/user/chat/'.html_safe %></li>
    	<li class="like"><%= link_to '<i></i> ¡Me gusta!'.html_safe, '/user/likes-of-mine/' %></li>
    	<li class="block"><%= link_to '<i></i>Bloquear'.html_safe, '#user-block'.html_safe, 'data-toggle' => 'modal' %></li>
	</ul>
</article>