	<div class="span3">
		<article>
			<div class="image"><a href="/public/blog-post"><img src="http://lorempixel.com/220/145/sports"></a></div>
			<div class="post-data">
				<header>
					<h1><%= link_to 'Se conocieron en Cellove ¡y fueron juntos al salón del manga!', '/public/blog-post' %></h1>
				</header>
				<p>Pellentesque pellentesque commodo sodales. Nunc ut sem eros, quis adipiscing magna. Nulla consequat lacinia eleifend. Sed ullamcorper tempus felis sed suscipit.</p>
			<%= link_to 'Leer más...', '/public/blog-post' %>
			</div>
		</article>
	</div>