fieldset {
  border:0;
  padding:0;
  margin:0;

  margin-top:40px;
  padding-bottom:20px;

  label {
    font-size:100%;
  }

  legend {
    border-bottom:#ccc 1px solid;
    color:$link_color;
    padding-left:40px;
  }

  small {
    color:$link_color;
    font-size:.7em;
    line-height:1.2em;
    display:block;
    &[class*="span"] {
      margin-left:0;
    }
  }

  .control-group {
    margin:20px 0;
  }

  &.standard-form {
    label {
      font-weight:bold;
      padding-right:10px;
    }
  }

  .actions {
    margin-top:40px;

    button {
      text-transform:uppercase;
    }
  }

  &#orientation {
    padding-left:40px;
  }

  &#get-password {
    label {
      font-weight:bold;
      padding-right:10px;
      float:left;
      padding-top:5px;
      margin-bottom:5px;
    }

    input {
      margin-right:10px;
    }
  }

  &#name {
    margin-top:0;
    padding-left:40px;
    legend {
      border-bottom:0;
      padding-left:0;
    }
  }

  &#photo {

    label {
      font-weight:bold;
    }

    input[type="file"]{
      line-height:1em;
      margin-top:.5em;
      margin-left:10px;
    }

    input[type="checkbox"] {
      margin-right:10px;
      margin-top:0;
    }

    small {
      display:block;
      width:280px;
      padding-left:30px;
    }

    .photo {
      margin-left:40px;
    }
  }

  &#access {
    label {
      font-weight:normal;
      margin-right:10px;
      font-weight:bold;
    }

    .actions {

      button {
        margin-left:50px;
      }

      input[type="checkbox"] {
        margin-right:10px;
        margin-top:3px;
        float:left;
      }

      label {
        font-weight:normal;
        display:block;
        font-size:.8em;
        padding-left:30px;
      }

      .clearfix {
        margin-top:10px;
      }
    }
  }

}

#contact {
  margin-top:15px;
  .actions {
    margin-left:180px;
  }
}