#home-highlights {

  h1 {
    font-size:120%;
    margin:0;
    background:url(images/sprite.png) -431px -76px no-repeat;
    padding-left:45px;
  }

  header {
    margin-bottom:15px;
  }
}


section.user-home{

	@extend section.list;

	/* ARTICLES */ 
	
	/* related-list */
	section#related-list{

	  ul {
      margin:0;
      padding:0;
      padding-top:5px;
    }
	
	  li{
	  	list-style: none;
	  	float: left;
      margin: 0px 5px;
		}
	
		h4 {
	  	text-align:right;
      margin:10px 0;
      margin-left:15px;
      padding:0;
      min-height:40px;
      padding-top:10px;
      width:100px;
	  	line-height:1em;
      color:$link-color;
      float:left;
      border-right:$link-color 1px solid;
      margin-right:10px;
      padding-right:10px;
		}
	}

	.button{
    margin:40px 0;
    text-align: center;
  }
}

	
	/* direct-search */

section.home-users {
  margin-left:-10px;

  .user-list {
    li {
      margin-left: 15px!important;
      li {
        margin:0!important;
      }
    }
  }
}

section.direct-search {

  h4 {
    color:$link-color;
    border-right:$link-color 1px solid;
    padding-right:20px;
    padding-top:10px;
    margin:0;
    margin-left:15px;
    width:90px;
    min-height:200px;
    text-align:right;
    float:left;
    background:url(images/cupido.png) 10px 80px no-repeat;
  }

  .searchform {
    float:left;
  }

  .control-label{
      font-weight: bold;
      
      span{
        font-weight: normal;
      }
    }
}
	
