#home-highlights {

  h1 {
    font-size:120%;
    margin:0;
    background:url(images/sprite.png) -431px -76px no-repeat;
    padding-left:45px;
  }

  header {
    margin-bottom:15px;
  }
}


section.user-home{

	@extend section.list;

	/* ARTICLES */ 
	
	/* related-list */
	section#related-list{
	  background-color: lightgray;
	  display: inline-block;
	  width: 100%;
	
	  ul{margin: 10px 0 10px 20px;}
	
	  li{
	  	list-style: none;
	  	float: left;  
	  	margin-left: 15px;
		}
	
		h4{
	  	text-align: right;
	  	line-height: 15px;
		}
	}

	.button{
    margin:40px 0;
    text-align: center;
  }
	
	/* direct-search */
	article.direct-search .control-label{
	  font-weight: bold;
	  
	  span{
	  	font-weight: normal;
		}
	}
	
}