/* common */
li{
  list-style: none;
}
.text-center{
  text-align: center;
}




/* user */

.user {

  header[role="banner"] {
    h1 {
      padding:0;
    }

    #header-actions {
      position:absolute;
      right:0;
      top:-20px;
      font-size:.8em;
      color:#fff;
      text-align:right;
      a {
        color:#fff;
        text-decoration:underline;
        &:hover {
          text-decoration:none;
        }
      }

      #color-switcher {
        position:absolute;
        right:0;
        top:-40px;
        background:#000;
      }
    }

    nav[role="navigation"] {
      font-size:105%;
      margin-top:64px;
      ul {
        li {
          position:relative;

          span {
            position:absolute;
            color:#fff;
            right:.2em;
            top:-1.2em;
            box-shadow:0px 0px 2px rgba(0,0,0,.5);
            text-shadow:0 0 1px rgba(0,0,0,.5);
            background:#5cabe8;
            display:block;
            border-radius:50px;
            font-size:.8em;
            width:2.2em;
            text-align:center;
            line-height:2.4em;
            height:2.2em;
          }

          a {
            padding:1em .9em;
          }
          &.home {
            a {
              background-image:url(images/sprite.png);
              background-position:-304px -63px;
              background-repeat:no-repeat;
              text-indent:-999em;
              overflow:hidden;
              width:18px;
              height:20px;
            }

          }
        }
      }
    }
  }

  #in-love {

    h2 {
      a {
        display:none;
      }
    }

    article p {
      display:none;
    } 
  }

}

/*= user stuff */

section.list {


  header {

    @include clearfix;
    border-bottom:#ccc 1px solid;
    margin-bottom:10px;
    padding-bottom:10px;

    h1 {
      float:left;
      margin:0;
      margin-top:5px;
      font-size:1.2em;
      color:$link_color;
      font-weight:normal;
      line-height:1.2em;
    }

    form {
      margin:0;
    }
    .sort {
      float:right;

      select {
        font-size:.8em;
      }
    }
  }


  .user-list {
    list-style:none;
    margin:0;
    padding:0;
    margin-left:-12px;

    li {
      width:165px;
      float:left;
      margin-left:13px;
      margin-bottom:13px;

      li {
        float:none;
        width:auto;
        margin:0;
      }

    }
  }


  .user-card {

    background:#fff;

    &.online {
      .pics {
        img {
          background: $online-color;
        }
      }
    }

    ul {
      margin:0;
      padding:0;
      list-style:none;

      li {
        padding:0;
        margin:0;

      }

      &.pics {

        position:relative;
        width:165px;
        height:165px;
        overflow:hidden;

        li {
          position:absolute;
          z-index:1;
          &:first-child {
            z-index:2;
          }
          a {
            img {
              width:155px;
              padding:4px;
              border:#ccc 1px solid;
            }  
          }
        }
      }

      &.actions {
        margin-bottom:10px;
        li {
          display:block;
          width:30px;
          height:30px;
          float:left;
          margin:5px;
          a {
            display:block;
            float:left;
            width:30px;
            height:30px;
            overflow:hidden;
            text-indent:-999em;
            background:url(images/sprite.png) left top no-repeat;
          }

            &.message {
              a {
                background-position:4px -156px;
              }
              
            }

            &.chat {
              a {
                background-position:-25px -156px;  
              }
              
            }

            &.like {
              a {
                background-position:-57px -156px;
              }
            }

            &.block {
              a {
                background-position:-86px -156px;
              }
            }
        }
      }
    }

    header {

      padding:10px;
      border:0;
      margin:0;

      h1 {
        font-size:.8em;
        line-height:1.2em;
        font-weight:normal;
        margin:0;
        padding:0;
        color:#333;

        a {
          font-weight:bold;
          font-size:1.1em;
        }
        
        span {
          font-size:.9em;
        }
      }
    }
  }

  .pagination {
    @include clearfix;
    font-size:.8em;
    color:#999;

    span.pages {
      display:block;
      float:right;

      a.prev, a.next {
        background:$link_color;
        display:inline-block;
        border-radius:5px;
        color:#fff;
        padding:0 .5em;
        text-decoration:none;
        margin:0 5px;
        &:hover {
          background:$link-hover-color;
        }
      }

      a.current {
        font-size:1.1em;
        font-weight:bold;
        color:#666;
      }
    }
  }
}


/*= chat */

section.chat{
  @extend section.list;

  header {
    
    h1 {

      em {
        font-style:normal;
        &.offline {
          color:$offline-color;
        }

        &.online {
          color:$online-color;
        }
      }

    }

    .new-window {
      float:right;
      font-size:.8em;
    }
    
  }

  .user-info {
    background-color: #fff;
    border-bottom:#e0e0e0 1px solid;

    img{
      float: left;
      margin:10px;
    }
    .text{
      font-size: 14px;
      margin-top: 10px;
    }
    .status{
      color:green;
      font-size: 14px;
      float:right;
      margin-right:10px;
    }
    
  }

  .chat-container {
    max-height:300px;
    overflow-y: auto;
  }

  .log {
    
    background:#fff;
    padding:10px 0;
    border-bottom:#e0e0e0 1px solid;

    .who {
      width:90px;
      text-align: right;
      float: left;

      span {
        font-size: .7em;
        color:#999;
        display:block;
        line-height:1.2em;
      }
    }
    .msg {
      float:left;
      margin-left: 10px;
    }
  }

  .msg-form {
    margin-top:10px;

    form {
      label {
        width:90px;
        float:left;
        font-weight:bold;
        text-align:right;
        margin-right:10px;
        line-height:30px;
      }

      input[type="text"] {
        width:340px;
        margin-left:10px;
      }

    }
  }

  .sidebar{ 
    hr{
      margin: 0px;
    }
    ul{
      margin: 10px 0;
    }
    ul li{
      list-style: none;
      margin:10px 0;
    }
  }
}

/* messages items */

.msg-item {

  position:relative;

  .pic {

    img {
      background:#fff;
      border:#e0e0e0 1px solid;
      padding:3px;
    }
  }

  .info {
    background:#fff;

    .msg-data {
      font-size:.85em;
      color:#666;
      line-height:1em;
      padding:.5em;

      a {
        font-size:1.2em;
        font-weight:bold;
      }
    }

    .msg {
      padding:0em .5em;
      line-height:1em;
      a {
        font-size:1em;
        color:#333;
      }
    }

  }

  .reply {

    width:21px;
    height:21px;
    position: absolute;
    right:5px;
    top:5px;

    a {
      background:url(images/sprite.png) -355px -83px no-repeat;  
      display:block;
      text-indent:-999em;
      overflow:hidden;
    }
    
  }
  
  .no-mg-btm{
    margin-bottom: 0px;
  }
}

.proposal{
  background-color: lightgray;
  margin-top: 10px;
  padding: 5px 0;
}


/* profile */

.profile{

  header {
    line-height: 50px;

    h1 {
      margin-top: 0;
    }
  }

  fieldset {
    margin:0;
    padding:0;
  }

  form {
    .left {
      margin-right: 25px;

      .control-label {
        width:100px;
      }

      .controls {
        margin-left: 105px;
      }
    }
    .control-label{
      width:125px;
      font-size: 0.8em;
    }
    .controls{
      margin-left: 130px;
    }
  }
  .quien{
    font-size: 0.9em;
    small {
      margin-top:10px;
    }
  }
  .nav-tabs{
    li a{
      background-color: white;
    }
    .active a{
        background-color: #f1f1f1;
        color:#5caae8;
    }
  } 
  em{
      font-size: 0.8em; 
      line-height: 15px;
      color: gray;
  }
  #dicen{
    .comment{
      border-bottom: 1px lightgray solid;
      margin-top: 30px;
        padding-bottom: 30px;
    }
    .last{
      border-bottom: none;
    }
    .center{
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
  
}

/* user-profile */

.user-profile{

  .description{
    background-color: white;
    border-left: 1px solid;
  }

  article.links{
    width:100%;
    margin: 20px 0 20px -10px;
    padding: 0 5px;
    background-color: blue;
    display: inline-block;
    li{
      float: left;
      margin-left: 50px;
      a{color:white;}
    }
  }

  .adv{
    background-color: white;
    border-top: 1px solid;
    margin: 10px 0px;
    padding: 10px;
  }

  .profile-tabs{
    margin: 30px 0;

    .nav{margin-bottom: 0px;}
    
    .nav-tabs{
      border:none;
      .last{
        float:right;
        margin-right: 30px;
      }
    }
    #datos{
      margin: 20px 0;
      .item-desc{
        text-align: right;
      }
      .item-ans{
        background-color: white;
        border-left: 1px blue solid;
        padding-left: 10px;
      }
    }
    #notas{
      @extend section.list;
      h4 span{
        font-weight: normal;
        font-size: 0.9em;
      }
      .nota-item{
        .erase{
          position: absolute;
          right:10px;
        }
      }
      .new-nota {
        background-color: gray;
        textarea{
          padding-right: 45px;
          margin:10px 0 10px 20px;
        }
        .controls{
          margin: 0 20px 20px 0;
        }
      }
    }
  }
}


/* search */

.search{
  display: inline-block;

  form {

    margin:0;

    label {
      font-size:.8em;
    }

    .slider {
      label {
        margin-top:.5em;
      }
    }

    .controls{
      margin-left: 130px;
    }
    .control-label{
      width:120px;
    }

    .search-location {

      input {
        float:left;

        &.location {
          width:200px;
          margin-left:10px;
          margin-right:10px;
        }
      }

      .zip {
        width:auto;
      }
    }

    .fit {
      select {
        width:170px;
        margin-left:10px;
      }
    }

    button {
      font-size:1.1em;
      width:170px;
      padding:.3em .7em;
      margin-top:5px;
    }

  }
}

/* messages */

section.messages{
  //@extend section.list;

}


.nav {
  margin-bottom:-1px;
  margin-left:10px;
}

/* celestinos */
section .celestinos{
  h4{
    margin: 0 0 0 2%;
    padding:13px 0 5px 0;
    color: $link-color;
    font-weight: normal;
    span{
      font-weight: normal;
      color: $text-color;
    }
  }
  p {
    margin:0;
    span{color: $link-color;}
  }
  .celes-box{
    background-color: white;
    width:96%;
    display: inline-block;
    margin: 20px 0 20px 2%; 
    ul{
      margin:20px 0 20px 24px;
      display: inline-block;
      li{
        width: 120px;
        float: left;
        margin-left: 30px;
        text-align: center;
      }
    }

    .red-heart{
      color:red;
    }
    .red-violet{
      color:violet;
    }
    .red-green{
      color:green;
    }
    .red-yellow{
      color:yellow;
    }

    .small-box{
      background-color: lightgray;
      
      span{
        color: $text-color;
      }
    }
  }
  .text{
    margin: 15px 0;
    p{
      text-align: center;
    }
    span{
      color:$link-color;
    }
  }

  .white-box{
    background-color: white;
    float: left;
    width:40%;
    padding: 0 2%;
    margin:20px 0 20px 4%;
    display: block;
    h4{
      padding-left: 60px; 
    }
  }

  .celes-list{
    @extend section.list;

    margin-top: 10px;

    h3{
      span{
        color:$text-color;
      }
    }
    img{
      padding: 5px;
      border: 1px solid lightgray;
      float: left;
    }
    .celes-item{
      background-color: white;
      margin:0 auto 5px auto;
      height: 110px;
      width:96%;
      .text-celes{
        padding-left: 10px;
        margin-top: 7px;
        font-size: 0.8em;
      }
      .confirm-controls{
        position: absolute;
        right: 35px;
        font-size: 0.9em;
        margin-top: 30px;
      }
    }
    .pagination{margin:0;}
  }

  .text-want{
    padding-bottom: 20px;
    text-align: center;
    h5{
      font-size:1.2em;
      font-weight: normal;
    }
  }
}