<section class="list">
  <header>
    <h1>Les he gustado</h1>
    <%= render '/shared/user/sorting' %>
  </header>
  
  <ul class="user-list clearfix">
    <%= render @users %>
  </ul>
  <div class="pagination">
    <%= pager_total(@users) %>
  </div>
  <%= paginate @users %>

</section>
