<section class="list">
  <header>
    <h1 class="pull-left">Les he gustado</h1>
    <div class="sort-gustado"><%= render '/shared/user/sorting' %></div>
    <div class="clearfix"></div>
  </header>
  
  <ul class="user-list clearfix">
    <%= render @users %>
  </ul>
  <div class="pagination">
    <%= pager_total(@users) %>
  </div>
  <%= paginate @users %>

</section>
