<section class="celestinos">
  <article class="boxed headless">

      <header>
        <h1 class="section_title"><%= _('Mis Celestin@s') %></h1>

      </header>

  </article>

  <hr class="thin"> 
  <div class="boxed-inner">
    <p><span><%= _('Tu índice es del %{index}%% y tienes %{count} Celestin@s.') % {index: current_user.cellove_percentage, count: current_user.confirmed_recommenders.count.to_s } %></span></p>
  <hr class="thin"> 
    <p><%= _('Lo sentimos, pero las zonas de celestinos solo están disponibles en nuestra aplicación web.') %></p>
  </div>
</section>
