<% title = _('Ver usuarios') %>
<% content_for(:title) { title } %>

<section class="list public-user-list">
<div id="last-users" class="user-list">
  <h3><%= _('Algun@s usuari@s registrad@s en Cellove') %> <% link_to(_('¡Regístrate Gratis!'), new_user_registration_path) %></h3>
  <ul class="clearfix">
    <% User.women.popular.each do |user| %>
      <%= render user %>
    <% end %>
  </ul>
  <ul class="clearfix">
    <% User.men.popular.each do |user| %>
      <%= render user %>
    <% end %>
  </ul>
</div>

</section>
