<!-- Google Code for Registro usuari@s Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 966450137;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "KxUVCLfNlQkQ2bfrzAM";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/966450137/?label=KxUVCLfNlQkQ2bfrzAM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
<!-- Facebook Conversion Code for Registros -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6016207593034', {'value':'0.01','currency':'EUR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6016207593034&amp;cd[value]=0.01&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>