<header role="banner" class="container-fluid">
    <div id="logo" class="row-fluid">
        <span class="beta">beta</span>
        <h1><%= link_to "Cellove", root_path, :class => 'brand' %></h1>
        <h2><%= _('Ponle alas al amor') %></h2>
    </div>
</header>