<div id="in-love">
	<div class="container">
		<h2>Se han enamorado en Cellove <%= link_to '¡Regístrate Gratis!', '/public/alta-usuario' %></h2>
		<a href="#" class="fold active">Ver</a>
		<div class="row">
			<article class="span3">
				<header>
					<h1><i></i>Carlos & Maite</h1>
					<img src="/assets/in-love/carlos-maite.jpg">
				</header>
				<p>Una amiga me hizo de Celestina y lo probé, conocí a Carlos, después de hablar durante unos días, quedamos para tomar un café y ahora estamos saliendo juntos.</p>
			</article>
			<article class="span3">
				<header>
					<h1><i></i>Anna & Joan</h1>
					<img src="/assets/in-love/anna-joan.jpg">
				</header>
				<p>Visité su perfil y le envié un mensaje, después de varias ocasiones escribiéndonos, decidimos quedar para cenar y desde entonces, ¡no nos hemos separado!.</p>
			</article>
			<article class="span3">
				<header>
					<h1><i></i>Fran & Irene</h1>
					<img src="/assets/in-love/fran-irene.jpg">
				</header>
				<p>Era un poco excéptica pero mi hija me hizo de Celestina, conocí a Fran y a parte de ser grandes amigos, también compartimos muchas cosas, es una suerte habernos conocido.</p>
			</article>
			<article class="span3">
				<header>
					<h1><i></i>Esther & Victor</h1>
					<img src="/assets/in-love/esther-victor.jpg">
				</header>
				<p>En mi día a día no tenía ocasion de conocer a gente interesante, en Cellove le conocí y supe desde el primer momento que él era esa persona que necesitaba en mi vida.</p>
			</article>
		</div>
	</div>
</div>
