<div id="progress_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="progress progress-striped active" style="margin: 10px;">
    <div class="bar" class="width: 0px;"></div>
  </div>
</div>
