<article class="celes-item">
	<div class="clearfix">
	<img src="/images/avatar1.png">
	
	<header>
		<%= link_to "Maria", "/user/user-profile" %> <span><i class="icon-heart"></i>Ex-novia</span> <%= link_to "Eliminar celestin@", "#delete-celestino", 'data-toggle' => 'modal' unless @foregin_user.present? %><span class="date">05/11/2012 - 22:36h</span>
	</header>

	<p>Es buena persona, generoso, simpático y además le gusta mucho recoger animalitos atropellados en la autopista. Y lo hace sin ánimo de lucro porque luego no vende sus pieles. Les da un entierro digno.</p>
	</div>

	<% if(@type == 'por-confirmar') %>
	<div class="choose">
		<a href="#" class="btn btn-success"><i class="icon-ok icon-white"></i> Aceptar</a>
		<a hreg="#" class="btn btn-danger"><i class="icon-remove icon-white"></i> Rechazar</a>
	</div>	
	<% end %>
</article>