<!-- Modal -->
<div id="activity-proposal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Proponer una actividad</h3>
    <div class="user-detail clearfix">
      <div class="pic">
        <a href="/user/profile/"><img src="/users/placeholder2.jpg" width="60" height ="60"></a>
      </div>
      <div class="data"><small>8/12/2012 - 22:35h</small><%= link_to "Judit", "/user/profile/" %>, 21 años - Barcelona</div>

    </div> 
  </div>
  <div class="modal-body">

    <p>Selecciona una propuesta para compartir...</p>
    <br>
    <ul>
      <li class="coffee"><a href="#">Tomar un café</a></li>
      <li class="movie"><a href="#">Ir al cine / espectáculo</a></li>
      <li class="drink"><a href="#">Salir de copas</a></li>
      <li class="eat"><a href="#">Ir a comer</a></li>
      <li class="sport"><a href="#">Actividad deportiva</a></li>
      <li class="culture"><a href="#">Actividad cultural</a></li>
      <li class="heart"><a href="#">Conocerte de verdad</a></li>
    </ul>

    <div class="reply">
      <textarea>OLA KE ASE BEBE SERVESA O KE ASE</textarea>
    </div>
    <br>
    <div id="activity-date" class="form-inline">
      <div class="control-group">
        <label>¿Cuando?</label> <input type="text" class="input-small" placeholder="dd/mm/aaaa">
        <label class="checkbox">
            <input type="checkbox"> No quiero especificar cuando
        </label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <%= link_to 'Cancelar', '#fast-reply', 'data-toggle' => 'modal', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' %>
    <button class="btn btn-info" data-dismiss="modal">Proponer</button>
  </div>
</div>