<div class="nota-item">
	<div class="heading">
		<small class="pull-left">05/11/2013 - 22:36h</small>
		<i class="icon icon-remove pull-right"></i>
	</div>
	<p>Es buena personam generoso, atractivo, simpáticoy además le gusta mucho recoger animalicos atropellados en la autopista. Y lo hace sin animo de lucro porque luego no vende sus peles. Les da un entierro digno.</p>	
</div>