<section>
	<header>
		<h1>Celestin@s</h1>
	</header>
	<ul>
		<li><%= link_to 'Mis celestin@s <em>(9)</em>', '/user/celestinos-of-mine' %></li>
		<li><%= link_to 'Quiero ser celestin@', '/user/celestinos-i-want' %></li>
		<li class="highlight"><%= link_to '¡Aumenta tu Índice Cellove!', '/user/celestinos-of-mine#tab_mejora' %></li>
	</ul>
</section>