<!-- celestino data! -->
<section id="user-sidebar">
	<img src="/users/placeholder-user.jpg">
	<header>
		<h1>@Celestino:<br>Josep María Vives</h1>
	</header>
	<ul>
		<li><a href="/user/profile-celestino">Mi perfil de Celestin@</a></li>
    <li class="highlight"><a href="/user/celestino-become-user">¡Conviértete en usuari@!</a></li>
	</ul>
</section>
