<% title = _("ERROR") %>
<% content_for(:title) {title} %>
<article>
  
  <header>
    <h1><%= _('Error') %></h1>
  </header>

  <div class="article-body">
    <p><%= _('Ha habido un problema. Es provable que la página que buscabas no exista.') %></p>


  </div>
</article>
