
<% title = _("No Disponible") %>
<% content_for(:title) {title} %>

  <div class="container-fluid rounded-box page-content">
    <div class="content row-fluid">
      <div class="container-fluid nopadding">

        <p><%= _('Lo sentimos, pero este apartado s칩lo est치 disponible desde la web en versi칩n completa (no m칩vil).') %></p>
        
      </div>
    </div>
  </div>
