
<% title = _("Alta Celestin@") %>
<% content_for(:title) {title} %>

  <div class="container-fluid rounded-box page-content">
    <div class="content row-fluid">
      <div class="container-fluid nopadding">
        <div class="row-fluid text-center">
          <h1><%= _('Error') %></h1>
        </div>

        <p><%= _('Lo sentimos, pero esta zona solo está disponible desde la web en versión completa (no móvil).') %></p>
        
      </div>
    </div>
  </div>
