<% title = "Amor en línea" %>
<% content_for(:title) {title} %>
<article>

  <header>
    <h1><%= @title %></h1>
  </header>

  <div class="article-body">
    <iframe width="665" height="360" src="http://www.youtube.com/embed/E8LXeI-V11E" frameborder="0" allowfullscreen></iframe>

  </div>
</article>


