<% title = "Consejos de uso" %>
<% content_for(:title) {title} %>
<article>

	<header class="bg clearfix">
		<h1>Consejos<br>de uso</h1>
		<ul class="miniSlider">
      <li class="item active"><%= image_tag 'teaser-how.jpg' %>
      <li class="item"><%= image_tag 'teaser-how2.jpg' %>
		</ul>
	</header>
	<div class="article-body">
		<p>Estamos convencidos que Cellove puede aportarte nuevas experiencias, conocer a esa persona con la que puedes tener una conexión especial, pero también os diremos que esto es como la vida misma, hay que estar en el momento adecuado y hacer que surja la chispa =)</p>

		<p>Nuestros consejos para sacar el máximo partido de Cellove son los siguientes:</p>

		<p><h3>‘Pon el máximo de información sobre ti’</h3>
Rellena tanto como puedas la información de tu perfil, es tu presentación y la puerta de acceso hacia ti</p>

		<p><h3>‘Sé activo’</h3>
Muévete y sé dinámico dentro de la página, deja mensajes, propón conversaciones, deja huella de tu presencia y responde a tus peticiones</p>

		<p><h3>‘Muéstrate tal como eres’</h3>
Sé tú mismo relacionándote como en tu vida social, o mejor! Sé accesible y dispuesto a abrir puertas</p>
		<p><h3>‘Mejora tu Índice Cellove’</h3>
Utiliza la gran herramienta que son tus Celestin@s. Tod@s tenemos  amigos del alma, gente dispuesta a ayudar y contactos que pueden hablar bien de ti, y junto con otros detalles, esto es lo que hará que mejore tu Índice Cellove</p>
		<p><h3>
‘Y utilízanos como tu nuevo camino para rellenar tu vida de nueva gente interesante y con la que compartir grandes momentos’</h3></p>
	</div>
</article>
