<div id="upload_pic" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= _("Añadir imagen") %></h3>
  </div>
  <div class="modal-body">
    <%= form_tag(pictures_path, multipart: true, method: :post) do %>
      <input type="file" name="picture" id="upload_picture_files" value="" multiple/>
    <% end %>
  </div>
  <div class="modal-footer">
  </div>
</div>
