<section class="celestinos">
  <article class="boxed headless">

      <header>
        <h1 class="section_title"><%= _('Alta Celestin@') %></h1>

      </header>

  </article>

  <hr class="thin"> 
  <div class="boxed-inner">
    <p><%= _('Lo sentimos, pero las zonas de celestinos solo están disponibles desde la web en versión completa (no móvil).') %></p>
  </div>
</section>
