#home-highlights {

  h1 {
    font-size:120%;
    margin:0;
    background:image-url('sprite.png') -431px -76px no-repeat;
    padding-left:45px;
  }

  header {
    margin-bottom:15px;
  }
}

section#related-list{

  ul {
    margin:0;
    padding:0;
    padding-top:5px;
    background-color:#fff;
  }

  li {
    list-style: none;
    margin: 0px 7px;

    .tooltip {
      line-height:1em;
      color:#fff;
    }

    a {
      display:block;
    }

    img {
      width:74px;
      height:74px;
      padding:3px;
      border-radius:10px;
    }

    float: right;

    &.online {
      float: left;
      border-radius: 10px;
      img {
        background:$online-color;
      }
    }
  }

  h4 {
    text-align:right;
    margin:5px 0;
    margin-left:15px;
    padding:0;
    min-height:70px;
    padding-top:10px;
    width:100px;
    line-height:1em;
    color:$link-color;
    float:left;
    border-right:$link-color 1px solid;
    margin-right:10px;
    padding-right:10px;
  }
}

.button{
  margin:40px 0;
  text-align: center;
}

.list-header {
  margin-bottom:10px;
  margin-top:20px;
}

section.user-home{

  @extend section.list;

  h4 {
    color:$link-color;
  }

  .user-list {
    li {
      margin-left:12px!important;

      ul.pics {
        li {
          margin:0!important;
        }
      }
    }
  }

  /* MESSAGES */

  section#last-messages {
    margin-left:-10px;

    h4 {
      @include clearfix;
      a {
        float:right;
        font-size:.8em;
      }
    }

  }

  /* ARTICLES */ 

  /* related-list */

}


/* direct-search */

section.home-users {
  margin-left:-10px;

  h4 {
    margin:0;
  }

}

section.direct-search {

  h4 {
    color:$link-color;
    border-right:$link-color 1px solid;
    padding-right:20px;
    padding-top:10px;
    margin:0px 15px;
    margin-top:10px;
    width:90px;
    height:140px;
    margin-bottom:10px;
    text-align:right;
    float:left;
    background:image-url('cupido.png') 10px 70px no-repeat;
  }

  .searchform {

    margin-top:10px;
    position:relative;

    form {
      @include clearfix;
      margin:0;
    }

    label {
      font-size:.9em;
      margin-right:10px;
      width:160px;
      display:inline-block;
      float:left;
      margin-top:.3em;

      span {
        color:$link-color;
      }
    }

    select.city {
      width:200px;
    }

    .sliders {
      label {
        margin-top:.5em;
      }
    }

    .control-group {
      @include clearfix;
      margin-top:0;
      margin-bottom:5px;
    }

    .controls {
      width:270px;
      margin:0;
      float:left;

      input.span3, input.span1 {
        margin-left:0;
      }

      input.span1 {
        margin-left:0px;
      }

      input.span3 {
        width:190px;
      }

    }

    fieldset {

      margin:0;
      padding:0;

      &.span6 {
        margin:0;
      }

      &.form-options {

        padding-top:9px;

        @include clearfix;
        width:85px;
        position:relative;

        input.btn {
          font-size:1em;
          margin-top:50px;
        }

        

      }

    }
    
    .location {
      width: 190px;
    }

  }

  // hack to show chosen search option
  .boxed-inner.overflow-show{
    .searchform{
      position: relative;
      padding-bottom: 10px;
      margin-top: 0px;
  
      fieldset{
        padding-top: 10px;
      }
      fieldset.form-options{
        padding-top: 20px;
      }
    }
  }
}
