.modal {

  .modal-header {
    border:none;

    h3 {
      font-size:1.2em;
      margin-bottom:20px;
    }

    .user-detail {
      .pic {
        float:left;
        margin-right:10px;
      }

      .data {
        a {
          font-weight:bold;
        }
      }

      small {
        display:block;
        color:#999;
        font-size:.8em;
      }

    }

  }

  .modal-body {

    .prevmsg {
      color:#000;
      margin-bottom:1em;
    }

    textarea {
      width:96%;
      height:100px;
      padding:2%;
      font-size:.9em;
      color:#666;
    }

    fieldset {
      .checkbox.inline {
        width:40%;
        &:first-child {
          margin-left:5%;
        }
      }
    }

    .logo {
      margin: 40px;
    }
  }

  .modal-footer {

    position:relative;

    .btn {
      margin-left:10px;
    }

    .activity {
      position:absolute;
      top:1em;
      left: 0;
      margin-left: 15px;
    }
  }

  .modal-footer.col2 {
    div {
      width: 50%;
      text-align: center;
    }

    .left {
      float:left;
    }

    .right {
      float:right;
    }

  }
}

.ui-widget {
  font-family: "PT Sans", "Helvetica Neue", Hevetica, Arial, sans-serif;
  font-size:.9em;
}
