section#pay {

  fieldset {
    margin-left:40px;
  }

  .payment {

    float:left;

    z-index:2;
    width:240px;
    background:#fff;
    border-radius:5px;
    box-shadow:0px 5px 5px rgba(0,0,0,.2);
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    ul {
      li {
        font-size:.8em;
        line-height:1.2em;
        margin-bottom:1em;
        margin-right:1em;
      }
    }

    h3 {
      background:$link-color;
      margin:0;
      color:#fff;
      margin-bottom:.5em;
      text-align:center;
    }

    .call {
      text-align:center;
      border-top:#e0e0e0 1px solid;
      padding:.7em 0;
      font-size:.6em;
    }

    .btn {
      margin:0 auto;
      font-size:1.4em;
      margin-left:5px;
    }


    &.plan2 {
      font-size:1.2em;
      width:350px;
      margin-top:-13px;
      z-index:3;
      border:#fff 2px solid;

      ul {
        margin-top:20px;
      }

      h3 {
        background:#51A351;
      }

      button {
        font-size:1em;
      }
    }

  }
}
