
input[type="radio"], label .radio {
  float:left;
}
input{
  clear:left;
}

#user-pictures {
  padding:20px;
  padding-top:0;
  padding-bottom:0;

  @import 'partials/picture_gallery';

  h2 {
    font-size:1em;
    padding:0;
    color:$link-color;
    font-weight:normal;
  }

}

#crop_modal {
  img { max-width: initial; }
}
