.social_networks {
  .nav {
    margin-bottom:-1px;
    margin-left:10px;

    li {
      margin-bottom: -1px;
    }
  }

  .register-text {
    margin-top: 60px;
  }

  .register-form #access {
    margin-bottom: 0px;
    margin-left: 20px;
  }

}