<% @title = "Quiero encontrar" %>

<header class="bg clearfix">
	<h1>Alta<br>Usuari@<br>Gratis</h1>
	<ul class="miniSlider">
		<li class="item active"><img src="/images/teaser-user.jpg"></li>
		<li class="item"><img src="/images/teaser-user2.jpg"></li>
	</ul>
</header>
<p>Regístrate ahora mismo en Cellove, es muy fácil y rápido, y en segundos estarás viendo a usuari@s que buscan lo mismo que tu.</p>
<p>Cellove es una potente herramienta online para encontrar perfiles afines a ti, pero además cuenta con nuevas funciones que mejoran su rendimiento y resultado: conversar con usuari@s, enviarles mensajes, proponer actividades, comprobar si hacéis buena pareja, etc... Además su motor y diseño es muy potente y consigue presentarte perfiles de interés según la relación de muchos parámetros, lo cual hace que aproveches mejor tu tiempo y consigas tener más éxito y sobretodo menos sorpresas en tus citas.</p> 
<p>Cuenta con un sistema que gradúa la popularidad y fiabilidad de los usuari@s, con el objetivo de evitar perfiles que no cumplan con tus requisitos y perspectivas, presentarte solo aquellos que si lo hacen y puedas tener afinidades importantes. </p>

<form class="form-horizontal inline-form">
	<fieldset id="name" class="clearfix">
		<legend>¿Quién eres?</legend>
		<p>Me llamo <input type="text" placeholder="Nombre" class="span2"> <input type="text" placeholder="Apellidos" class="span2"> y quiero que mi nombre para mostrar sea <input type="text" placeholder="Nombre para mostrar" class="span3"> *</p>
		<small>* En Cellove te recomendamos utilizar tu nombre real para tener más posibilidades de contactos y Celestin@s. Deja este campo vacío para usar tu nombre real.</small>
	</fieldset>

	<fieldset id="orientation">
		<p>Soy <input type="text" placeholder="Chico" class="span2"> <input type="text" placeholder="Gay" class="span2"> y estoy <input type="text" placeholder="viendo a alguien">. Nací el <input type="text" placeholder="dd" class="span1"> de <input type="text" placeholder="mm" class="span1"> de <input type="text" placeholder="aaaa" class="span1">.</p>
		<p>Vivo en <input type="text" placeholder="País" class="span2">, <input type="text" placeholder="Localidad" class="span3"> y mi código postal es <input type="text" placeholder="Código postal" class="span2">.
	</fieldset>

	<fieldset id="photo" class="clearfix standard-form">
		<legend>¿Cómo eres?</legend>
		<div class="control-group">
			<label class="control-label">Sube tu foto</label><input type="file" class="span4">
		</div>
	</fieldset>
	
	<fieldset id="access" class="clearfix standard-form">
		<legend>Datos de acceso a Cellove</legend>
		<div class="row">
			<div class="span6">
				<div class="control-group">
					<label class="control-label">Email</label><input type="email" class="span3">
				</div>
				<div class="control-group">
					<label class="control-label">Confrimar email</label><input type="email" class="span3">
				</div>
			</div>
			<div class="span6">
				<div class="control-group">
					<label class="control-label">Contraseña</label><input type="password" class="span3">
				</div>
				<div class="control-group">
					<label class="control-label">Confrimar contraseña</label><input type="password" class="span3">
				</div>
			</div>
		</div>
		<div class="center actions">
			<button class="btn btn-info btn-large">¡Registrarme!</button>
		</div>
	</fieldset>
</form>
