<% @title = "Quiero recomendar" %>

<header class="bg clearfix">
	<h1>Alta<br>Celestin@<br>gratis</h1>
		<ul class="miniSlider">
			<li class="item active"><img src="/images/teaser-celestino.jpg"></li>
			<li class="item"><img src="/images/teaser-celestino2.jpg"></li>
		</ul>
</header>
	<p>Si quieres ayudar a un amig@, exnovi@ o familiar a encontrar a esa persona especial, ¡estás en el lugar adecuado!</p>
	<p>Con nuestro servicio Celestin@ completamente gratuito podrás hacerlo, aportando al usuari@ que recomiendas más popularidad, visibilidad y fiabilidad, lo cual hará que nuestro sistema de presentación de usuari@s sea más útil y potente para éste. </p>
<p>El objetivo de nuesrta herramienta Celestin@ es facilitar y hacer más accesible nuestro potente sistema para encontrar a esa persona especial, por ejemplo a usuari@s poco experimentados, con prejuicios o que simplemente no conozcan o no se atrevan a utilizar una plataforma de contactos, hoy en día muy extendida y utilizada ya por mucha gente.</p>
<p>El registro como Celestin@ es muy fácil y rápido, en segundos estarás recomendando y el destinatario recibirá un e-mail para que pueda confirmar su registro gratuito como usuario en cellove, a partir de aquí ya contará con tu soporte y podrá acceder a todos los usuari@s y funciones que desee. </p>
<form class="form-horizontal inline-form">
	<fieldset id="name" class="clearfix">
		<legend>¿Quién eres?</legend>
		<p>Me llamo <input type="text" placeholder="Nombre" class="span2"> <input type="text" placeholder="Apellidos" class="span2"> y quiero que mi nombre para mostrar sea <input type="text" placeholder="Nombre para mostrar" class="span3"> *</p>
		<small>* En Cellove te recomendamos utilizar tu nombre real para tener más posibilidades de contactos y Celestin@s. Deja este campo vacío para usar tu nombre real.</small>
	</fieldset>
	
	<fieldset id="access" class="clearfix standard-form">
		<legend>Datos de acceso a Cellove</legend>
		<div class="row">
			<div class="span6">
				<div class="control-group">
					<label class="control-label">Email</label><input type="email" class="span3">
				</div>
				<div class="control-group">
					<label class="control-label">Confrimar email</label><input type="email" class="span3">
				</div>
			</div>
			<div class="span6">
				<div class="control-group">
					<label class="control-label">Contraseña</label><input type="password" class="span3">
				</div>
				<div class="control-group">
					<label class="control-label">Confrimar contraseña</label><input type="password" class="span3">
				</div>
			</div>
		</div>
		<div class="center actions">
			<button class="btn btn-info btn-large">¡Registrarme!</button>
		</div>
	</fieldset>
</form>