<% @title = "Quiero encontrar" %>

<header>
	<h1>Alta Usuari@</h1>
	<p>Aliquam eget dapibus diam. Morbi vulputate convallis nibh ac sagittis. In suscipit sapien quis enim adipiscing sed interdum neque consectetur. Donec et dui in erat mattis aliquet ut eget mauris. Quisque iaculis semper massa et hendrerit. Sed quis metus ante, ac tincidunt diam. Integer nulla orci, volutpat vitae interdum volutpat, tempus ut lacus. Vestibulum vitae erat mi. Nunc eget tristique nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
</header>
<fieldset>
	formulario de registro de usuario
</fieldset>