<% @page = "celestinos" %>
<% @title = "Celestin@s" %>
<% @sidebar = true %>

<article>

	<header>
		<h1><%= @title %></h1>
	</header>

	<div class="article-body">

		<p>Son las personas del entorno del usuario registrado que ayudan a encontrar con más confianza y seguridad a esa persona perfecta. Dispone de un panel privado y totalmente Gratis para recomendar a sus usuarios y otorgarle atributos y virtudes que serán visibles por los otros usuarios registrados afines a este.</p>

		<p>Hay cuatro tipos de Celestin@s y su finalidad es mejorar el Índice Cellove de los usuarios registrados, por el siguiente orden:</p>

		<blockquote>
		<p><strong>Ex pareja:</strong> todos tenemos ex novios e incluso ex maridos. Puede que los dos no hayáis congeniado pero sois personas fantásticas, capaces de ofrecer amor y amistar y con ganas de encontrar a otra persona especial. ¿Porque no recomendarl@?</p>

		<p><strong>Amigo especial:</strong> si tienes algún amigo con el que siempre has tenido mucha química, algo especial,  y quieres ayudarlo a que encuentre el amor... ¡Recomiéndalo en Cellove!</p>

		<p><strong>Amigo:</strong> ayuda a tu mejor amig@ a que sea feliz encontrando a su media naranja, ¡apóyale en su búsqueda del amor! ¡Recomiéndalo en Cellove!</p>

		<p><strong>Familiar:</strong> ¿algún miembro de tu familia está buscando pareja o una amistad especial?  ¿Tienes algún hermano, primo, o incluso a tu padre o tu madre les gustaría encontrar a alguien para compartir de nuevo su vida? ¡No lo dudes y ayúdales! ¡Recomiéndalos en Cellove!</p>
		</blockquote>

		<p>Esta función es completamente Gratis y siempre lo será.</p>
		<p>Porque te gusta ayudar a la gente que quieres:</p>

		<%= link_to '¡Regístrate ahora como Celestin@!', '/public/alta-celestino/', class: 'more' %></p>
	</div>
</article>