<% @page = "consigue-popularidad" %>
<% @title = "¿Cómo funciona?" %>
<% @sidebar = true %>

<article>

	<header>
		<h1><%= @title %></h1>
	</header>

	<div class="article-body">
		<p>Es muy fácil y efectivo. Nuestra plataforma cellove cuenta con potentes herramientas para que puedas encontrar a esa persona especial.</p>
		<p>Si te registras como usuari@ podrás encontrar personas afines por edad, gustos, estilo de vida... Además podrás proponer actividades a usuari@s, comprobar si hacéis buena pareja y otras utilidades únicas y muy útiles para hacer que tus citas no sean a ciegas.</p>
	</div>
</article>