<% @title = "¿Has olvidado tu contraseña?" %>

<header>
	<h1><%= @title %></h1>
</header>
	<p>Introduce el email con el que te registraste y te enviaremos las instrucciones de recuperación.</p>
<form class="form-horizontal inline-form">
	<fieldset id="get-password" class="clearfix">
		<div class="control-group">
			<label>Email</label><input type="email" class="span3"><button class="btn btn-info">Recuperar contraseña</button>
		</div>
	</fieldset>
</form>