<% @page = 'home' %>
<% @title = "Ponle alas al amor" %>

<section id="slider" class="flex-container">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/949/445/people">
      </li>
      <li>
        <img src="http://lorempixel.com/949/445/nightlife">
      </li>
      <li>
        <img src="http://lorempixel.com/949/445/fashion">
      </li>
      <li>
        <img src="http://lorempixel.com/949/445/animals">
      </li>
      <li>
        <img src="http://lorempixel.com/949/445/sports">
      </li>
    </ul>
  </div>
</section>

<div id="home-highlights" class="row">
  <article class="span4">
    <header>
      <h1>Registro GRATIS</h1>
    </header>
    <p>Si quieres conocer a alguien interesante y disfrutar juntos de vuestro tiempo libre o, quien sabe, ¡ser su media naranja!</p>
    <p>No lo dudes, <%= link_to 'regístrate GRATIS','/public/alta-usuario' %> en Cellove y ¡pon alas al amor!</p>
    <%= link_to 'Registro gratis', '/public/alta-usuario', class: 'more'  %>
  </article>
  <article class="span4">
    <header>
      <h1>Alta Celestin@</h1>
    </header>
    <p>¿Quieres recomendar a un amig@, exnovi@ o familiar?</p>
    <p>Si crees que tus amig@ merce conocer a alguien interesante para disfrutar de su tiempo libre y hasta...</p>
    <%= link_to 'Alta Celestin@', '/public/alta-usuario', class: 'more' %>
  </article>
  <article class="span4">
    <header>
      <h1>¿Cómo funciona?</h1>
    </header>
    <p>Es muy fácil. Si te registras como usuario podrás encontrar personas afines por edad, gustos, estilo de vida...</p>
    <p>... pero ¡además también podrás crear actividades e invitar a nuevos usuarios!</p>
    <%= link_to 'Leer más', '/public/como-funciona', class: 'more'  %>
  </article>
</div>