<% @page = "ver-usuarios" %>
<% @title = "Ver usuarios" %>

<section class="list">
<div id="last-users" class="user-list">
	<h3>Últimos usuarios en Cellove <%= link_to '¡Regístrate Gratis!', '/public/alta-usuario' %></h3>
	<ul class="clearfix">
		<% (1..5).each do %>
		<li>
			<%= render '/shared/user/user-card' %>
		</li>
		<% end %>
	</ul>
</div>


<div id="top-users" class="user-list">
	<h3>Usuarios más populares <%= link_to '¡Regístrate Gratis!', '/public/alta-usuario' %></h3>
	<ul class="clearfix">
		<% (1..5).each do %>
		<li>
			<%= render '/shared/user/user-card' %>
		</li>
		<% end %>
	</ul>
</div>

</section>


<script>
	$(document).ready(function(e){
		$('.public-user-list a').attr('href','/public/alta-usuario');
	});
</script>