/* gradients */
@mixin gradient($softColor, $darkColor){
  background: $darkColor;
  background: -moz-linear-gradient(top,  $softColor 0%, $darkColor 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$softColor), color-stop(100%,$darkColor));
  background: -webkit-linear-gradient(top,  $softColor 0%,$darkColor 100%);
  background: -o-linear-gradient(top,  $softColor 0%,$darkColor 100%);
  background: -ms-linear-gradient(top,  $softColor 0%,$darkColor 100%);
  background: linear-gradient(to bottom,  $softColor 0%, $darkColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$softColor', endColorstr='$darkColor',GradientType=0 );  
}

@mixin button($softColor,$darkColor,$fontColor){
  border:$darkColor 1px solid;
  color:$fontColor;
  @include gradient($softColor,$darkColor);
  font-size:.8em;
  padding:.4em 1em;
  border-radius:3px;
  text-shadow:0 0 1px $darkColor;

  &:hover {
    border-color:$softColor;
    background:$darkColor;
  }
}

@mixin user-actions {

  margin-bottom:10px;

  li {
    display:block;
    width:30px;
    height:30px;
    float:left;
    margin:5px!important;
    
    a {
      display:block;
      float:left;
      width:30px;
      height:30px;
      overflow:hidden;
      text-indent:-999em;
      background:url(images/sprite.png) left top no-repeat;
    }

    &.message {
      a {
        background-position:4px -156px;
      }
      
    }

    &.chat {
      a {
        background-position:-25px -156px;  
      }
      
    }

    &.like {
      a {
        background-position:-57px -156px;
      }
    }

    &.block {
      a {
        background-position:-86px -156px;
      }
    }
  }
}