<div class="celes-item">
		<h5><%= link_to "Maria", "user-profile" %></h5>
		<div class="relationship"><i class="icon-heart"></i>Ex-novia</div>
		<div class="erase"><%= link_to "Eliminar celestin@", "" %></div>
		<div class="date">05/11/2012 - 22:36h</div>
		<div class="clearfix"></div>
		<p>Es buena persona, generoso, simpático y además le gusta mucho recoger animalitos atropellados en la autopista. Y lo hace sin ánimo de lucro porque luego no vende sus pieles. Les da un entierro digno.</p>
</div>
