<div id="header-actions">

	<div id="color-switcher">
		Cambiar color
	</div>
	<p class="user-count">Hay 2443 usuari@s conectados ahora mismo de los 115.000 registrados en Cellove</p>
	<p class="user-info">Bienvenid@, Josep María | <strong>Estás disponible para chatear</strong> <%= link_to 'cambiar configuración', '/user/settings/' %> | <%= link_to 'Editar mi perfil', '/user/user-edit/' %> | <%= link_to 'Desconectar', '/public/home' %></p>
</div>