<!-- Modal -->
<div id="proposal-accept" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <div class="user-detail clearfix">
      <div class="pic">
        <a href="/user/profile/"><img src="/users/placeholder2.jpg" width="60" height ="60"></a>
      </div>
      <div class="data"><small>8/12/2012 - 22:35h</small><%= link_to "Judit", "/user/profile/" %>, 21 años - Barcelona</div>
    </div> 

  </div>
  <div class="modal-body">
    <div class="center">
      <p>¡Has aceptado la propuesta de Judith para tomar un café el próximo dia 15/01!</p>
      <p>¡Pasadlo genial juntos!</p>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="proposal-reject" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <div class="user-detail clearfix">
      <div class="pic">
        <a href="/user/profile/"><img src="/users/placeholder2.jpg" width="60" height ="60"></a>
      </div>
      <div class="data"><small>8/12/2012 - 22:35h</small><%= link_to "Judit", "/user/profile/" %>, 21 años - Barcelona</div>
    </div> 

  </div>
  <div class="modal-body">
    <div class="center">
      <p>No has aceptado la propuesta de Judith para tomar un café el próximo dia 15/01.</p>
      <p>A ver si la próxima vez la cosa funciona.</p>
    </div>
  </div>
</div>