<div class="msg-item">
<div class="clearfix">
	<div class="span1"><a href="#"><img src="/users/placeholder2.jpg" width="60" height ="60"></a></div>
	<div class="span8">
		<div class="info">8/12/2012 - <%= link_to "Judit", "#" %> 21 años, Barcelona</div>
		<div class="small">5 mensajes - <%= link_to "Nuevo mensaje", "" %> - <%= link_to "Bloquear", "" %></div>
			<p>Hola Jamelga, estas tremenda bla bla bla bla</p>
		</div>
		<div class="reply">sprite</div>
	</div>
</div>