<%= render '/shared/user/msg-item' %>

<div class="clearfix proposal">
	<div class="pull-left">
		<b>Propuesta de actividad:</b> Comer o tomar algo el próximo 15 de febrero de 2013
	</div>
	<div class="pull-right"><%= link_to "Aceptar", "" %> - <%= link_to "Rechazar", "" %></div>
</div>
