<article class="action-links">
	<hr>
	<ul>
		<li><a href="">Enviar e-mail</a></li>
		<li><a href="">Chatear</a></li>
		<li><a href="">Me gusta!</a></li>
		<li><a href="">Añadir favoritos</a></li>
	</ul>
	<div class="clearfix"></div>
	<hr>
</article>