<section>
	<ul>
		<li><%= link_to 'Ãndice Cellove', '/user/cellove-index' %></li>
		<li><%= link_to 'Tu perfil', '/user/profile' %></li>
		<li><%= link_to 'Te gustan', '/user/likes-of-mine' %></li>
	</ul>
</section>