<section id="user-sidebar">
	<img src="/users/placeholder-user.jpg">
	<header>
		<h1>Josep María Vives</h1>
	</header>
	<ul>
		<li><%= link_to 'Índice Cellove (35/100)', '/user/cellove-index' %></li>
		<li><%= link_to 'Tu perfil (63% completo)', '/user/profile' %></li>
		<li><%= link_to 'Te gustan (269)', '/user/likes-of-mine' %></li>
	</ul>
</section>