<article class="user-card online">
  <ul class="pics">
    <li><a href="/user/user-profile"><img src="/users/placeholder1.jpg"></a></li>
    <li><a href="/user/user-profile"><img src="/users/placeholder2.jpg"></a></li>
    <li><a href="/user/user-profile"><img src="/users/placeholder3.jpg"></a></li>
  </ul>
  <header>
    <h1><%= link_to 'Maria Teresa', '/user/user-profile' %> 24 años<br><span>Santa Coloma de Gramenet</span></h1>
  </header>
  <ul class="actions clearfix">
    <li class="message">message</li>
    <li class="chat">chat</li>
    <li class="like">like</li>
    <li class="block">block</li>
  </ul>
</article>