<div id="login-box">
	<h4>Acceso usuarios</h4>
	<small><a href="/public/forgotten-password">¿Has olvidado tu contraseña?</a></small>
	<fieldset>
		<form action="/login" method="post">
			<input type="text" placeholder="Email">
			<input type="password" placeholder="Contraseña">
			<input type="submit" value="Entrar">
		</form>
	</fieldset>

	<p id="user-count"><strong>Somos 60.000 usuari@s</strong>. Gracias por vuesra confianza.</p>
</div>