<div id="fast-register">
  <div class="container">
    <form>
      <legend>Registro rápido Usuario Gratis</legend>
      <input type="email" class="control-label" placeholder="Email">
      <input type="password" class="control-label" placeholder="Contraseña">
      <select id="user_seeking" name="user[seeking]" data-validate="true">
        <option value="man seeking woman">hombre buscando una mujer</option>
        <option value="woman seeking man">mujer buscando un hombre</option>
        <option value="man seeking man">hombre buscando un hombre</option>
        <option value="woman seeking woman">mujer buscando una mujer</option>
      </select>
      <div class="checkbox">
        <input type="checkbox"> <label>Info</label>
      </div>
      <input type="submit" value="Ok">
    </form>
  </div>
</div>
