<nav role="navigation">
  <ul class="clearfix">
    <li><%= link_to '<span>Registro Gratis</span>'.html_safe, new_user_registration_path %></li>
    <li><%= link_to 'Celestin@s', new_user_registration_path %></li>
    <li><%= link_to 'Ver usuarios', users_path %></li>
    <li><%= link_to 'TV', '/public/anuncio-tv' %></li>
  </ul>
</nav>
